@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusable
        3.2 Other
    4. Area
        4.1 Header
        4.2 Introduction
        etc
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Basiskleuren */
    --paars:       #5722CD;
    --blauw:       #4845E4;
    --roze:        #ED4385;
    --zwart:       #0C0C0C; /* standaard tekstkleur */
    --lichtpaars:  #F2F0FF; /* zwevende woorden */

    /* Uitzonderingen */
    --lichtgrijs:  #F3F6F9; /* achtergrond projecten */
    --grijs:       #7A7A7A; /* service-tegel tekst */
}
/* ------------------------------- 2. Typography ----------------------------------- */
body {
    font-family:  'Roboto', sans-serif;
    background-color: white;
    width: 1200px;
}

h1, h2, h3, h4, h5 {
    font-family: "Merriweather", serif ;
}
/* ------------------------------- 3. Layout header --------------------------------------- */
.container {
    /*max-width: 1200px;*/
    margin: 0 auto;
    padding: 0 40px;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 80px 40px;
    position: relative;
    background-color: var(--paars);
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /*outline: #5722CD 1px solid;*/
    width: 100%;
    padding:50px 0;
    color: white;
}

ul {
    /*outline: green 1px solid;*/
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 24px;
    margin: 0;
    padding: 0;

}

li {
    /*outline: #ED4385  1px solid  ;*/
}
.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #00ff00;
    color: white;
}

.header-text h1 {
    text-align:  center;
    padding-bottom: 12px;
    font-size: 18px;
}

.header-wave {
    background-image: url("assets/squiggle_line.svg");
    background-repeat: no-repeat;
    height: 10px;
    background-size:  cover;
    background-position: bottom center;
    padding: 0 120px;
    position: absolute;

}

.cta-button {
    background-color: var(--roze);
    color: white;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration-line:  none;
    text-transform: uppercase;
}

.cta-button:hover {
    background-color: var(--paars);
}
/* --------------- 3.1 Layout Hello ----------------------- */
.hello-container {
    color: var(--paars);
    text-align:  center;
    padding: 80px 20px;
    background-color: white;
}

.hello-container h2 {
    margin-bottom: 24px;
    font-size: 10px;
}

.hello-container p {
    margin-top: 40px;
}
.hello-container a {
    color: var(--paars);
    text-decoration: none;
    font-weight: bold;
}

.hello-container a:hover {
    text-decoration: underline;
}
/* --------------- 3.2 Projecten --------------------------- */
.projects-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    max-width: 100%;
    margin: 50px 0;
}

.article-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px dashed #00ff00;
    max-width: 80%;
    margin:20px 0;
    padding-right:20px;
    gap:60px;

}
.article-container:nth-child(even) {
    flex-direction: row-reverse;
}

.project-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: flex-center;*/
    gap: 24px;
    margin-left: 60px;
}

.header-wave {
    background-image: url("assets/squiggle_line.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 4px;
    width: 100px;
    margin:12px 0 30px 0;
    background-position: left center;
}
.project-text h3 {
    margin-bottom: 0;
}

.project-text p {
    margin-top: 0;
}
.project-text p {
    margin-top: 100px;
}

img {
    max-width: 100%;
}
.image-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}



/* ------------------------------- 4. Services ---------------------------------------- */
.services-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    border: 2px solid black;
    max-width: 80%;
    width: 100%;
    gap: 24px;
    margin: 260px 0;
    padding: 40px 0;
}

.service-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border: 2px dashed #ff0000;
    max-width: 28%;
    margin: 10px 0 12px 0;
    padding: 24px;
}

.image-wrapper {
    width:100px;
    height:60px;
    display:flex;
    flex-direction: column;
    flex-basis: 60px;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content:center;
    align-items:flex-start;
}
.image-wrapper img {
    display:block;
    height: auto;
    max-width: 100%;
}


/* --------------- 4.1 Header ------------------------- */

/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */















